<form action="/categories" method="post">

    <label for="categorie_name">Name of the category:</label>
    <input id="categorie_name" name="categorie_name" type="text">


    <button type="submit">Add Category</button>
  </form>
