<h2>ADD A NEW CATEGORY</h2> 

<div class="forms">
	<form action="/categories" method="post">
		<label>
			<input type="text" id="categorie_name" name="categorie_name" required />
			<div class="label-text">Name of the category:
			</div>
		</label>
		<button>Submit</button>
	</form>
</div>
