<% if @events.any?() %>

    <ul>
      <% @events.each() do |event| %>
      <a href="/events/<%= event.id()%>"><%= event.event_name() %> </a><br>
      <% end %>
    </ul>

    <% else %>

          <p>There are no lists yet!</p>

      <% end %>
