<div id="landing-page">
	<div id="landing-page-text">
		<div class="trial">
			<h1>TUKIO</h1>
			<h3>Your realtime event organizer</h3>
			<br>
			<p><span class="glyphicon glyphicon-menu-down"></span></p>
		</div>
	</div>

	  <div id="carousel" class="carousel slide" data-ride="carousel">
	    <!-- Indicators -->
	    <ol class="carousel-indicators">
	      <li data-target="#carousel" data-slide-to="0" class="active"></li>
	      <li data-target="#carousel" data-slide-to="1"></li>
	      <li data-target="#carousel" data-slide-to="2"></li>
	    </ol>

	    <!-- Wrapper for slides -->
	    <div class="carousel-inner" role="listbox">
	      <div class="item active image1">
	      </div>
	      <div class="item image2">     
	      </div>
	      <div class="item image3">
	      </div>
	    </div>
	  </div>

</div>
<div>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Tukio</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/events">Events</a></li>
        <li><a href="/admin">Admin</a></li>
      </ul>
    </div>
  </div>
</nav>
</div>